@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    z-index: 0;
    background-color: #000;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    image-rendering: optimizeSpeed;   
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#help {
    z-index: 10;
    display: none;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 16px;
    padding: 1em;
    border-radius: 0 1em 1em 1em;
    border: 1px solid #aaa;
    background-color: #fff;
    box-shadow: 0 30px 70px rgba(0, 0, 0, .3);
    opacity: .8;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 1em;
}

.bgChange {
    position: relative;
    /*left: 3em;*/
    top: .5em;
    background-color: white;
    border: 1px solid #aaa;
    box-shadow: none;
    transition: box-shadow .25s;
}

.bgChange:hover {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .3);
}

#help input {
    width: 100%;
}

hr {
    border: none;
    border-top: 1px solid #aaa;
}

#colAutoCh {
    width: inherit;
    vertical-align: middle;
}